# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.EngineDesignerCore.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Developer\EngineDesigner\Core\.idea\.idea.EngineDesignerCore.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
