# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity.iml
# Datasource local storage ignored files
/../../../../../../../:\Developer\EngineDesigner\Unity\.idea\.idea.Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
