# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EngineDesigner.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Developer\EngineDesigner\.idea\.idea.EngineDesigner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
