# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.EngineDesignerKSPFull.iml
# Datasource local storage ignored files
/../../../../../../:\Developer\EngineDesigner\.idea\.idea.EngineDesignerKSPFull\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
